{#
This file is part of JobMine EZSearch.

JobMine EZSearch is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

JobMine EZSearch is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with JobMine EZSearch.  If not, see <http://www.gnu.org/licenses/>.

#}



{% extends "TemplateLayout.html" %}
{% block body %}

<style>

    .chart-legend li {
    list-style-type: none;
    }

    .chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    }
</style>

<div class="container">
    <div class="page-header">
        <h1>Analytics</h1>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6">
            <h2 class="text-center"><sup>Jobs</sup>/<sub>Programming Language</sub></h2>
            <canvas id="language" width="100%" height="50%"></canvas>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-6">
            <h2 class="text-center"><sup>Jobs</sup>/<sub>Keyword in Job Title</sub></h2>
            <canvas id="keywords" width="100%" height="50%"></canvas>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <h2 class="text-center"><sup>Jobs</sup>/<sub>Faculty</sub></h2>
            <canvas id="myChart" width="80%" height="80%"></canvas>
            <div id="js-legend" class="chart-legend"></div>
        </div>
         <div class="col-xs-6 col-sm-offset-0 col-sm-4 col-sm-push-4">
            <h2 class="text-center"><sup>Jobs</sup>/<sub>Level</sub></h2>
            <canvas id="myChart3" width="80%" height="80%"></canvas>
            <div id="js-legend3" class="chart-legend"></div>
        </div>
        <div class="col-xs-pull-3 col-xs-6 col-sm-pull-4 col-sm-4">
            <h2 class="text-center"><sup>Jobs</sup>/<sub>City</sub></h2>
            <canvas id="myChart2" width="80%" height="80%"></canvas>
            <div id="js-legend2" class="chart-legend"></div>
        </div>

    </div>
<br /><br />
    <div class="row">
        <div class="col-sm-4">
            <h4 class="text-center"><span class="lead">T</span>otal <span class="lead">J</span>obs:<span>
        <h3 style="display:inline; "><span class="label label-success" style="background-color:black; color:yellow">
        {{analytics_total_numbers_count[0]['total_jobs']}}
    </span></h3>
    </span></h4>
        </div>

        <div class="col-sm-4">
            <h4 class="text-center"><span class="lead">T</span>otal <span class="lead">L</span>ocations:<span>
         <h3 style="display:inline; "><span class="label label-success" style="background-color:black; color:yellow">
        {{analytics_total_numbers_count[1]['total_unique_location']}}
            </span></h3>
           </span></h4>
        </div>

        <div class="col-sm-4">
            <h4 class="text-center"><span class="lead">T</span>otal <span class="lead">E</span>mployers: <span>
            <h3 style="display:inline; "><span class="label label-success" style="background-color:black; color:yellow">
            {{analytics_total_numbers_count[2]['total_unique_employer']}}
            </span></h3>
           </span></h4>
        </div>
    </div>

    <div class="page-header">
        <h1 id="stepDownloads">Downloads</h1>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-3 text-center">

            <div class="col-xs-6">
                <a  href="/exportHtml/0" target="_blank" >
                    <img src="{{ url_for('static', filename = 'Html_logo.png') }}" style="width:80%;">
                </a>
                <h4>1-1000</h4>
                </div>
                <div class="col-xs-6">
                    <a href="/exportHtml/1000" target="_blank">
                        <img src="{{ url_for('static', filename = 'Html_logo.png') }}" style="width:80%;">
                    </a>
                    <h4>1001-2000</h4>
                </div>
                <div class="col-xs-6">
                    <a href="/exportHtml/2000" target="_blank">
                        <img src="{{ url_for('static', filename = 'Html_logo.png') }}" style="width:80%;">

                    </a>
                    <h4>2001-3000</h4>
                </div>
                <div class="col-xs-6">
                    <a href="/exportHtml/3000" target="_blank">
                        <img src="{{ url_for('static', filename = 'Html_logo.png') }}" style="width:80%;">

                    </a>
                    <h4>3001 - End</h4>
                </div>
            </div>

        <div class="col-xs-6 col-sm-3 text-center">
            <a href="/exportCsv" target="_blank">
                    <img src="{{ url_for('static', filename = 'csv_logo.png') }}" style="width:100%;">

                </a>
        </div>
        <div class="col-xs-6 col-sm-3 text-center">
            <a href="/exportTxt" target="_blank">
                <img src="{{ url_for('static', filename = 'txt_logo.png') }}" style="width:100%;">
            </a>
        </div>

        <div class="col-xs-6 col-sm-3 text-center">

            <a href="/exportJson" target="_blank">
                    <img src="{{ url_for('static', filename = 'json_logo.png') }}" style="width:80%;">
            </a>
        </div>
    </div>
</div>

{% endblock %}






{% block scripts %}

<script type="text/javascript">


//jobs per language
var x = [];
var y = [];
{% for language in analytics_languages_count %}
    x.push('{{language['language']}}')
    y.push({{language['count']}})
{% endfor %}

var data = {
    labels: x,
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: y
        }
    ]
};
var ctx= document.getElementById("language").getContext("2d");
var myBarChart = new Chart(ctx).Bar(data, {responsive: true} );






//jobs per certain keywords
x = [];
y = [];

{% for keyword in analytics_job_containing_keywords_count %}
    x.push('{{keyword['job_title']}}')
    y.push({{keyword['count']}})
{% endfor %}

var data = {
    labels: x,
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: y
        }
    ]
};
var ctx= document.getElementById("keywords").getContext("2d");
var myBarChart = new Chart(ctx).Bar(data, {responsive: true});



//jobs per faculty, doughnut
 x = [];
 y = [];
{% for fac in analytics_faculties_count %}
    x.push('{{fac['faculty']}}')
    y.push({{fac['count']}})
{% endfor %}

var data = [
    {
        value: y[0],
        highlight:"#009AA6",
        color: "#007F8A",
        label: x[0]
    },
    {
        value: y[1],
        highlight: "#E98300",
        color: "#AC6100",
        label: x[1]
    },
    {
        value: y[2],
        highlight: "#CCAAFF",
        color: "#57068C",
        label: x[2]
    },
    {
        value: y[3],
        highlight: "#B6BF00",
        color: "#747800",
        label: x[3]
    },
    {
        value: y[4],
        highlight: "#FF88DD",
        color: "#E0249A",
        label: x[4]
    },
    {
        value: y[5],
        highlight: "#77BBFF",
        color: "#0073CF",
        label: x[5]
    }
]

var options = {
    responsive: true,
    tooltipTemplate: "<%= label %>:<%= value %>"
}

var ctx = document.getElementById("myChart").getContext("2d");

var myChart = new Chart(ctx).Doughnut(data, options);

document.getElementById('js-legend').innerHTML = myChart.generateLegend();







//jobs per city, doughnut
var x = [];
var y = [];

{% for city in analytics_city_count %}
    x.push('{{city['location1']}}');
    y.push({{city['count']}});
{% endfor %}

console.log(x);

var data = [
    {
        value: y[0],
        color:"red",
        highlight: "#ff4d4d",
        label: x[0]
    },
    {
        value: y[1],
        color: "darkorange",
        highlight: "orange",
        label: x[1]
    },
    {
        value: y[2],
        color: "yellow",
        highlight: "#ffff4d",
        label: x[2]
    },
        {
        value: y[3],
        color:"green",
        highlight: "yellowgreen",
        label: x[3]
    },
    {
        value: y[4],
        color: "blue",
        highlight: "#1a1aff",
        label: x[4]
    },
    {
        value: y[5],
        color: "brown",
        highlight: "saddlebrown",
        label: x[5]
    },
        {
        value: y[6],
        color:"violet",
        highlight: "palevioletred",
        label: x[6]
    },
    {
        value: y[7],
        color: "limegreen",
        highlight: "lime",
        label: x[7]
    },
    {
        value: y[8],
        color: "deeppink",
        highlight: "pink",
        label: x[8]
    },
        {
        value: y[9],
        color:"darkslategray",
        highlight: "slategray",
        label: x[9]
    },
    {
        value: y[10],
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: x[10]
    }
]

var options = {
    responsive: true,
    tooltipTemplate: "<%= label %>:<%= value %>"
}

var ctx = document.getElementById("myChart2").getContext("2d");

var myChart = new Chart(ctx).Doughnut(data, options);

document.getElementById('js-legend2').innerHTML = myChart.generateLegend();





//jobs per level, doughnut
x = [];
y = [];

{% for level in analytics_levels_count %}
    x.push('{{level['faculty']}}')
    y.push({{level['count']}})
{% endfor %}

var data = [
    {
        value: y[0],
        color:"#449d44",
        highlight: "#5cb85c",
        label: x[0]
    },
    {
        value: y[1],
        color: "#ec971f",
        highlight: "#f0ad4e",
        label: x[1]
    },
    {
        value: y[2],
        color: "#31b0d5",
        highlight: "#5bc0de",
        label: x[2]
    }
]

var options = {
    responsive: true,
    tooltipTemplate: "<%= label %>:<%= value %>"
}


var ctx = document.getElementById("myChart3").getContext("2d");

var myChart = new Chart(ctx).Doughnut(data, options);

document.getElementById('js-legend3').innerHTML = myChart.generateLegend();


</script>
{% endblock %}