{#
This file is part of JobMine EZSearch.

JobMine EZSearch is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

JobMine EZSearch is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with JobMine EZSearch.  If not, see <http://www.gnu.org/licenses/>.

#}


<style>
    textarea {
    //resize:none
    }

    tr.jobHeader {
    background-color: #37B94D;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    }

    tr.jobHeader td {
    color: black;
    }

    tr.jobHeaderCancelled {
        background-color: rgb(255, 98, 98);
    }

    tr.jobHeaderApproved {
    background-color: rgb(68, 179, 212);
    }

    tr.jobHeaderApproved : hover {
    background-color: orange;
    }

    tr.jobHeaderAvail {
    background-color: rgb(218, 151, 30);
    }

    tr :hover {
    background-color: #BFBFBF;
    color:yellow;
    }

    tr :hover td {
    background-color: transparent; /* or #000 */
    }
</style>


{% extends "TemplateLayout.html" %}
{% block body %}

<div class="container">
     <div class="page-header">
        <h1>Job Inquiry & Shortlist</h1>
    </div>
    <form class="form-group" action="submit" method="post" id="fo">
        <fieldset>
            <div class="row">
                <div class="col-xs-2">
                    <div class="pull-left">
                        <label>Levels</label> <br />
                        <label class="checkbox-inline">
                            {% if filter_words['junior'] == 'junior' %}
                            <input type="checkbox" name="junior" checked>Junior
                            {% else %}
                            <input type="checkbox" name="junior">Junior
                            {% endif %}
                        </label>
                        <br />
                        <label class="checkbox-inline">
                            {% if filter_words['intermediate'] == 'intermediate' %}
                            <input type="checkbox" name="intermediate" checked>Intermediate
                            {% else %}
                            <input type="checkbox" name="intermediate">Intermediate
                            {% endif %}
                        </label>
                        <br />
                        <label class="checkbox-inline">
                            {% if filter_words['senior'] == 'senior' %}
                            <input type="checkbox" name="senior" checked>Senior
                            {% else %}
                            <input type="checkbox" name="senior">Senior
                            {% endif %}
                        </label>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-0 col-xs-offset-1 col-xs-9">
                    <div class="row">
                        <div class="col-md-11 col-md-offset-1">
                            <label for="summary">Keywords in Summary</label>
                            <input type="text" width="100%" class="form-control" id="summary" name="summary" placeholder="game, video, awesome, C++" value="{{ filter_words['summary'] }}" autofocus autocomplete="on">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-offset-5 col-md-3">
                            <input type="submit" width="100%" class="form-control" name="btnSubmit" value="GOOSE!"/>
                        </div>
                    </div>
                </div>

            </div>
            <a type="button" data-toggle="collapse" data-target="#more">Show more</a>
            <div class="collapse" id="more">
                <br /><br />
                <div class="container">

                    <div class="row">
                        <div class="col-sm-6 ">
                            <label for="location">Location</label>
                            <input type="text" class="form-control" id="location" name="location" placeholder="Toronto, China" value="{{ filter_words['location'] }}" />
                        </div>
                        <div class="col-sm-6">
                            <label for="discipline">Discipline</label>
                            <input type="text" class="form-control" id="discipline" name="discipline" placeholder="ENG-Computer, ENG-Electrical" value="{{ filter_words['discipline'] }}" />
                        </div>
                    </div>
                    <br /><br />

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3">
                             <label for="employer_name">Employer Name</label><input type="text" class="form-control" id="employer_name" name="employer_name" placeholder="Bombardier" value="{{ filter_words['employer_name'] }}">
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3">
                            <label for="job_identifier">Job ID</label><input type="text" class="form-control" id="job_identifier" name="job_identifier" placeholder="00282461" value="{{ filter_words['job_identifier'] }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3 ">
                            <label for="job_title">Job Title</label><input type="text" class="form-control" id="job_title" name="job_title" placeholder="Developer" value="{{ filter_words['job_title'] }}">
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 ">
                            <label for="languages">Language</label><input type="text" class="form-control" id="languages" name="languages" placeholder="C, C++" value="{{ filter_words['languages'] }}">
                        </div>
                            <div class="col-xs-12 col-md-6 col-md-pull-0">
                            <label for="sql_query">SELECT * FROM AllJobs WHERE</label><textarea rows="1" class="form-control" id="sql_query" name="sql_query" placeholder="languages LIKE '%C%' ORDER BY employer_name">{{ filter_words['sql_query'] }}</textarea>
                        </div>
                    </div>
                </div>
                <br /><br />

            </div>

        </fieldset>
    </form>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr >
            <th class="text-center"><h3>Job Title</h3></th>
            <th class="text-center"><h3>Employer</h3></th>
            <th class="text-center"><h3>Location</h3></th>
            <th class="text-center hidden-xs"><h2>
     <button type="button" class="btn btn-default btn-xs" onclick="openModal()" style="display: inline;">
                    <span class="glyphicon glyphicon-pencil"></span>
  Languages</button></h2></th>
            <th class="text-center hidden-xs hidden-sm"><h3>Level</h3></th>
            <th class="text-center"><h3>Openings</h3></th>
            <th class="text-center"><h3>Short List</h3></th>
        </tr>
        </thead>
        <tbody>

        {% for job in jobs %}
        {% if job['apply'] == 'POSTED' %}
        <tr data-toggle="collapse" data-target="#{{job['job_identifier']}}" class="jobHeader">
        {% elif job['apply'] == 'CANCELLED' %}
        <tr data-toggle="collapse" data-target="#{{job['job_identifier']}}" class="jobHeaderCancelled">
         {% elif job['apply'] == 'APPR' %}
         <tr data-toggle="collapse" data-target="#{{job['job_identifier']}}" class="jobHeaderApproved">
         {% else %}
        <tr data-toggle="collapse" data-target="#{{job['job_identifier']}}" class="jobHeaderAvail">
        {% endif %}
            <td class="text-center">{{ job['job_title'] }}</td>
            <td class="text-center"> {{ job['employer_name'] }} </td>
            <td class="text-center"> {{ job['location'] }} </td>
            <td class="text-center hidden-xs"> {{ job['languages'] }} </td>
            <td class="text-center hidden-xs hidden-sm"> {{ job['level'] }} </td>
            <td class="text-center"> {{ job['number_of_openings'] }} </td>
            {# we give the short list an id because we will change its innerHTML #}
            <td class="text-center" id="in_short_list_{{job['job_identifier']}}">
            {% if job['in_short_list'] == 'N' %}
                <button type="button" class="btn btn-default btn-sm" onclick="addToShortList('{{job['job_title']}}', '{{job['employer_name']}}', '{{job['job_identifier']}}')" >
                <span style="color:green" class="glyphicon glyphicon-plus"></span> Add
                </button>
                {% else %}
                 <button type="button" class="btn btn-default btn-sm" onclick="removeFromShortList('{{job['job_identifier']}}', '{{job['job_title']}}', '{{job['employer_name']}}')" >
                <span style="color:red" class="glyphicon glyphicon-minus"></span> Remove
                </button>
                 {% endif %}
            </td>
        </tr>
        <tr id="{{job['job_identifier']}}" class="collapse">
            <td colspan="7">
                <div class="row">
                    <div class="col-sm-3 col-md-2">
                        <p class="col-xs-3 col-sm-12"><b>Job ID:</b> <br />{{job['job_identifier']}}</p>
                        <p class="col-xs-3 col-sm-12"><b>Unit Name:</b> <br />{{job['unit_name']}}</p>
                        <p class="col-xs-6 col-sm-12"><b>Disciplines:</b> <br />{{job['discipline']}}</p>
                        <div class="visible-xs-block"><br /></div>
                        <p class="col-xs-3 col-sm-12"><b>Hiring Support:</b> <br />{{job['hiring_support']}}</p>
                        <p class="col-xs-3 col-sm-12"><b>Work Term Supp.:</b> <br />{{job['work_term_support']}}</p>
                        <p class="col-xs-3 col-sm-12"><b>Apply:</b> <br />{{job['apply']}}</p>
                        <p class="col-xs-3 col-sm-12"><b>Last Day to apply:</b> <br />{{job['last_day_to_apply']}}</p>
                    </div>
                    <div class="col-sm-9 col-md-10">

                        {{job['summary']|safe}}<br><br> <p><b>Comments: </b>{{job['comments']}}</p>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{# We use ajax to deliver the prioritized languages because form submission forces a reply and I don't want to reload entire page only to submit languages#}
<div class="modal" id="language_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="display:inline" class="modal-title">
                    Prioritize your languages</h3>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <label>The "Languages" column displays up to four languages shown in the tab. There are a gadrillion languages
                    so how do we determine which ones to shown in the "Languages" column? The "Languages" column tab will
                    show the first four languages that are found on your list, in order of the items you placed. The update operation
                    can take a while. You can separate languages with a ",":
                    <input type="text" class="form-control" id="prioritize_language" value = "C,C++,.NET,C#,Java,Android,Linux,Apache,SQL,Ruby,Python,Javascript,ASP,MATLAB,iOS"/>
                </label>
                <button type="button" class="btn btn-default" onclick="prioritize_language()">Update</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}



{% block scripts %}

<script type="text/javascript">

function openModal() {
    console.log('hey');

    $('#language_modal').modal({
        show: true,
        backdrop: false,
        keyboard:true
    });
    document.getElementById('prioritize_language').focus();
}

function addToShortList(job_title, employer_name, job_identifier) {

    console.log('addToShortList is called')
    event.preventDefault();
    data = { 'job_title' : job_title,
            'employer_name': employer_name,
            'job_identifier': job_identifier };

    console.log('the value of employer_name is' + employer_name);
    $.ajax({
        type : "POST",
        url : "/addToShortList",
        data: JSON.stringify(data),
        contentType: 'application/json;charset=UTF-8',
        success : function(data) {
            alert(data['a']);

            //now we change the short list button, yes, we do this manually
           document.getElementById('in_short_list_' + job_identifier).innerHTML = '<button type="button" class="btn btn-default btn-sm" onclick="removeFromShortList('   + "'" + job_identifier+ "','" + job_title +"','" + employer_name + "'" + ')"><span style="color:red" class="glyphicon glyphicon-minus"></span>Remove</button>';
        },
        error: function() {
            alert('Connection broken. Something funky happened');
        }
    });
}

function removeFromShortList(job_identifier, job_title, employer_name) {

    console.log('removeFromShortList is called');
    event.preventDefault();
        data = { 'job_identifier': job_identifier };
        console.log(job_title);

        $.ajax({
            type : "POST",
            url : "/removeFromShortList",
            data: JSON.stringify(data),
            contentType: 'application/json;charset=UTF-8',
            success : function() {
                alert('HOOORAY, SUCCESSFULLY REMOVED FROM SHORLIST');
                console.log(job_title);
                document.getElementById('in_short_list_' + job_identifier).innerHTML = '<button type="button" class="btn btn-default btn-sm" onclick="addToShortList(' + "'" + job_title + "','" + employer_name + "','" + job_identifier + "')" + '" ><span style="color:green" class="glyphicon glyphicon-plus"></span>Add</button>'
            },
            error: function() {
                alert('Connection broken. Something funky happened. ');
            }
        });
}

function prioritize_language() {

    prioritized_languages = document.getElementById('prioritize_language').value;
    data = { 'prioritized_languages' : prioritized_languages }

    $.ajax({
        type : "POST",
        url : "/update_languages",
        data: JSON.stringify(data),
        contentType: 'application/json;charset=UTF-8'
    });
}


</script>


{% endblock %}