{#
This file is part of JobMine EZSearch.

JobMine EZSearch is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

JobMine EZSearch is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with JobMine EZSearch.  If not, see <http://www.gnu.org/licenses/>.

#}

<!DOCTYPE html>
<html>
<head>
    <title>Job Inquiry</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/css/bootstrap-tour.min.css" rel="stylesheet">



</head>


<body>

<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><img style="margin-top:-15px" src="{{ url_for('static', filename = 'EZSearch_logo_resize.png')}}"></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsedNav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse" id="collapsedNav">
        <ul class="nav navbar-nav">
            <li><a href="/jobInquiry">Job Inquiry & Shortlist</a></li>
            <li><a href="/analyticsExport">Analytics & Downloads</a></li>
            <li><a href="/feedback">Feedback|Bugs</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
             <li><a href="/docs">Docs</a></li>
        </ul>
    </div>
</nav>

{% block body %}
{% endblock %}

<div class="container-fluid" style="background-color:gray;">
    <div class="container">
<footer>
    <div class="row">
    <h4 class="text-center">JobMine EZSearch - Designed for Bored or UWaterloo Students</h4>

        </div>
</footer>
    </div>
</div>
</body>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/js/bootstrap-tour.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename = 'multipage_tour.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>

{% block scripts %}
{% endblock %}



</html>