{#
This file is part of JobMine EZSearch.

JobMine EZSearch is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

JobMine EZSearch is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with JobMine EZSearch.  If not, see <http://www.gnu.org/licenses/>.

#}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome to JobMine EZSearch</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/css/bootstrap-tour.min.css" rel="stylesheet">

    <style>
        .affix {
        top:0 ;
        width: 100%
        }
    </style>

</head>
<body>


<div class="jumbotron" style="background-color: #191818; margin-bottom: 0px;">

    <div class="text-center">
        <h1 style="display:inline; color: #A7A7A7">JobMine</h1><img src="{{ url_for('static', filename = 'EZSearch_logo.png') }}" style="width:30%;">
        <h1 ><small style="color:#2D6D8B">A faster way to search for jobs</small></h1>
        <button type="button" class="btn btn-warning btn-lg" onclick="startTour()">Begin tour</button>
    </div>
    <br />
    <br />
    <div class="container">
        <form action="" method="post" class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-5">
                    <input type="text" name="username" class="form-control" placeholder="Username" />
                </div>

                <div class="col-md-5">
                    <div class="row">
                        <input type="text" name="password" class="form-control" placeholder="Password"  />
                    </div>
                    <div class="row">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="remember">Remember me
                        </label>

                    </div>
                </div>

                <div class="col-md-2 pull-right">
                    <button type="submit" class="btn btn-success" id="stepLogin">Let's start!</button> <br/>
                </div>
            </div>
        </form>
    </div>



</div>




<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="620">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><img style="margin-top:-15px" src="{{ url_for('static', filename = 'EZSearch_logo_resize.png')}}"></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsedNav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <div class="navbar-collapse collapse" id="collapsedNav">
        <ul class="nav navbar-nav">
            <li><a href="/jobInquiry">Job Inquiry & Shortlist</a></li>
            <li><a href="/analyticsExport">Analytics & Downloads</a></li>
            <li><a href="/feedback">Feedback|Bugs</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">About</a></li>
            </ul>
    </div>
    </ul>
</nav>


<div class="container">
    <div class="row text-center">

        <h2>was conceived from the belief that <b>there are more efficient ways to search through JobMine jobs</b> than clicking on each one.</h2>

        <br />
        <div class="col-sm-5">
            <h4>Current JobMine Search</h4>
            <p>Imagine you were a .NET developer who wanted to apply to all jobs that require .NET knowledge.
                <b>How would you go about finding all .NET jobs?</b>
                Many job titles do not contain the words “.NET” and clicking on every job in Job Inquiry is likely not ideal (learned this the hard way, it was not pretty)
            </p>
        </div>
        <div class="col-sm-2 hidden-xs">
            <span class="glyphicon glyphicon-arrow-right text-center" style="font-size:5em; color:green"></span>
        </div>

        <div class="col-sm-2 visible-xs">
            <span class="glyphicon glyphicon-arrow-down text-center" style="font-size:5em; color:green"></span>
        </div>

        <div class="col-sm-5">
            <h4 style="color: #2D6D8B">JobMine EZSearch</h4>

            <p><b>We shouldn’t have to spend so much time looking for jobs when that time can be invested in writing applications for those jobs.</b>
                Using JobMine EZSearch, we can easily find all jobs that require .NET knowledge by typing in “.NET” in the keywords search bar.
            </p>
        </div>
        <div class="row">
            &nbsp;
        </div>
    </div>
    &nbsp;<br /><br />&nbsp;
    <div class="row">
        <h2 id="stepOneWhy" class="text-center">Why Use JobMine EZSearch?</h2>
        <br />
        <div class="row">
            <div class="col-sm-4 text-center">

                <span class="glyphicon glyphicon-search" style="font-size: 5em; color: darkblue"></span>
                <br />     <br />
                <span class="lead">Refined Search Mechanism</span>
                <br />
                In addition to almost all of JobMine’s search filters, JobMine EZSearch can also search by keywords, prioritized languages, or you can write your own SQL queries.
            </div>

            <div class="visible-xs-block">
                <br />
                <br />
            </div>

            <div class="col-sm-4 text-center">
                <span class="glyphicon glyphicon-transfer" style="font-size: 5em; color:#2AC7C7"></span>
                <br />     <br />
                <span class="lead">Integrates with Short List</span>
                <br />
                Add or remove jobs from your shortlist with a single click. A text file is also created showing all jobs you have added to shortlist.
            </div>
            <div class="visible-xs-block">
                <br />
                <br />
            </div>

            <div class="col-sm-4 text-center">
                <span class="glyphicon glyphicon-leaf" style="font-size:5em;  color: darkgreen"></span>
                <br />     <br />

                <span class="lead">Open to Extension</span>
                <br />
                Stores jobs from JobMine to a local database so that you can use the data to build your own applications.
            </div>

            &nbsp;<br /><div class="hidden-xs visible-sm-block visible-md-block visible-lg-block"><br /><br /></div><br />&nbsp;
            <div class="col-sm-4 text-center">
                <span class="glyphicon glyphicon-send" style="font-size: 5em"></span>
                <br />     <br />
                <span class="lead">Fast and Functional</span>
                <br />
                Once JobMine EZSearch has prepared the database, you can instantaneously* search through 3000+ jobs and view jobs without waiting for page loads
            </div>

            <div class="visible-xs-block">
                <br />
                <br />
            </div>


            <div class="col-sm-4 text-center">
                <span class="glyphicon glyphicon-download-alt" style="font-size:5em; color:darkorange"></span>
                <br />     <br />
                <span class="lead">Download Formats</span>
                <br />
                Download all jobs in four file formats: .html, .csv, .json, and .txt
            </div>

            <div class="visible-xs-block">
                <br />
                <br />
            </div>

            <div class="col-sm-4 text-center">
                <span class="glyphicon glyphicon-road" style="font-size:5em; color:goldenrod"></span>
                <br /> <br />
                <span class="lead">GG</span>
                <br />
                GUI: A rich responsive display powered by Bootstrap.
                <br />
                GNU GPL3 License: Play with the source code however you wish.
            </div>

        </div>
    </div>
    <div class="row">
        <h2 class="text-center">Q&A</h2>
        <div class="row">
            <div class="col-sm-6">

                <h4>How do I create my own SQL queries?</h4>
                SQL Search automatically selects all columns from the table storing the jobs and you can simply type in the WHERE clause to find your queries
                (eg, location = ‘Toronto’ OR summary LIKE ‘%game%’). You can also press the ? button next to the SQL Search textbox for help on writing SQL queries
            </div>

            <div class="col-sm-6">
                <h4>What can I do with the database?</h4>
                The database contains a table with 14 columns that store information related to JobMine jobs.
                You can use the data and run analytics, display the jobs in different formats, find patterns in text, or even read through them before going to bed. Liberty exists.
            </div>
        </div>
        &nbsp;<br class="visible-xs"/>&nbsp;
        <div class="row">
            <div class="col-sm-6">
                <h4>I have ideas for improvements and found bugs. Who do I contact?</h4>
                That’s great! You can fork the repository from <a href="https://github.com/NanoBreeze/JobMine-EZSearch">https://github.com/NanoBreeze/JobMine-EZSearch</a>
                and contribute to the project! You can also send your ideas with this form:
            </div>


            <div class="col-sm-6">
                <h4>Who made JobMine EZSearch?</h4>
                A fellow UWaterloo student who manually clicked on hundreds of jobs to find the ones he was looking for. Hopefully, nobody else has to go through that experience again.
            </div>
            &nbsp;<br class="hidden-xs"/>&nbsp;
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h4>What is the meaning of life?</h4>
                I'm not sure
            </div>
        </div>
    </div>
</div>
</body>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.10.1/js/bootstrap-tour.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'multipage_tour.js') }}"></script>

</html>