{#
This file is part of JobMine EZSearch.

JobMine EZSearch is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

JobMine EZSearch is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with JobMine EZSearch.  If not, see <http://www.gnu.org/licenses/>.

#}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome to JobMine EZSearch</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />

<style>
    .affix {
    top:0 ;
    width: 100%
    }
</style>

</head>
<body>


<div class="jumbotron" style="background-color: #191818">

        <div class="text-center">
        <h1 style="display:inline; color: #A7A7A7">JobMine</h1><img src="{{ url_for('static', filename = 'EZSearch_logo.png') }}" style="width:30%;">
            <h1 ><small style="color:#2D6D8B">A faster way to search for jobs</small></h1>
    </div>

    <br />
    <div class="container">
        <form action="" method="post" class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <div class="col-md-5">
                    <input type="text" name="username" class="form-control" placeholder="Username" />
                </div>

                <div class="col-md-5">
                    <div class="row">
                        <input type="text" name="password" class="form-control" placeholder="Password"  />
                    </div>
                    <div class="row">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="remember">Remember me
                        </label>

                    </div>
                </div>

                <div class="col-md-2 pull-right">
                    <button type="submit" class="btn btn-success">Let's start!</button> <br/>
                </div>
            </div>
        </form>
    </div>



</div>
<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="350">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Why Use EZSearch?</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">"F"AQ</a></li>

      </ul>
    <ul class="nav navbar-nav navbar-right">
    <li><a href="#">Source code</a></li>
    <li><a href="#">Feedback</a></li>
  </ul>
</nav>
<br />
<br />
<br />
ij<br />
<br />
<br />
<br />
<br />
ij<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
oij<br />
<br />
<br /><br />
<br />
<br />
ij<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
oij<br />
<br />
<br /><br />
<br />
<br />
ij<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
oij<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
oij<br />
<br />
<br />
<br />
<br />
dsf
<canvas id="countries" width="600" height="400"></canvas>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script>
var pieData = [
	{
		value: 20,
		color:"#878BB6"
	},
	{
		value : 40,
		color : "#4ACAB4"
	},
	{
		value : 10,
		color : "#FF8153"
	},
	{
		value : 30,
		color : "#FFEA88"
	}
];

var pieOptions = {
	segmentShowStroke : false,
	animateScale : true
}

var countries= document.getElementById("countries").getContext("2d");
new Chart(countries).Pie(pieData, pieOptions);
</script>
</body>
</html>